*{  /* * is calles the universal selector, it selects all the elements in the html document */
    margin: 0;
    padding: 0;
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
    /* this property allows us to include padding and border in an elements's total width and height */
    /* if directly border-box is used on an element, padding and border are included in the width and height, which makes it easier for deployment */
    
}

body{
    background-color: #222;
}

.card{  /* .card as we want it to apply to all elements having class as card */
    width: 100%; /* here we are taking it to be 90% in reference to the parent element which is the body tag, the body tag observed 100% of the screen value, so we want our card to take up 90% of it*/
    max-width: 470px;
    background: linear-gradient(120deg,#7ac1f8,#dcedfd); /*background sets the color of the background of the site*/
    color: #171e24; /*color sets the color of the text */
    margin: 100px auto 0 ; /*sets the margin  the card element from the edge of the screen 
    it takes upto 4 values, the first is top margin, 2nd is left and right margin, and 3rd is bottom margin
    here 100 is the top, left and right is auto bottom margin is 0*/
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center; /* aligns all the text to the centre*/
}

.search{
    width: 100%;
    display: flex;  /* an element with this tag becomes flex element and items in it within it become flex elements*/
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1; /*extends the search box till the search icon*/
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer; /* changes the pointer to a curson when we hover it over the button */
}

.search button img{
    width: 16px;
}

.weather-icon{
    width: 170 px; /* wont make a lot of difference */
    margin-top: 30 px; /* will show a gap of 30 px fromt he top most element */
}

.weather h1{    /*tagets all h1 tag elements in weather tag */
    font-size: 65px;
    font-weight: 500;   /* defines the boldness of the font, can be defined through keywords or numericals */
}

.weather h2{    /*tagets all h1 tag elements in weather tag */
    font-size: 40px;
    font-weight: 400;   /* defines the boldness of the font, can be defined through keywords or numericals */
    margin-top: -10px;  /* larger the negative number, smaller the gap between the top and the bottom element, if it gets a bit too big, it may even overlap the top evelement */
}

.details{
    display: flex;  /*arranges it side by side */
    align-items: center;    /* didnt do much */
    justify-content: space-between; /* justified content with like equal space bw them and around them */
    padding: 0 20px;    /* first value represents top and bottom and the second value represents the left and right */
    /* the larger the secong value, the closer they will be to each other, as we are treating them as one element so 100 px means that it will have a padding ( collectively 
    of 100 pixels each from the left and right side */
    /* IT IS AN IMPORTANT ATTRIBUTE */
    /* SHOWS THE GAP BETWEEN THE HUMIDITY AND WIND TABS */

    /* what does the first value do tho? */

    margin-top: 30px;   /* shows the distance of the detail elements from above element, in this case its 30 pixels */
}

.col {  /* edits the details tag, individually, not as a group */
    display: flex;  /* makes the text and images side by side */
    align-items: center;
    text-align: left;   /* aligns the text to the left */
}

.col img{   /* edits all image tags in the col section*/
    width: 50px;
    margin-right: 10px; /*shows the distance of the images from the leftmost element, here text as 10 pixels */

}

.humidity, .wind{
    font-size: 30px;
    margin-top: -5px;   /*the bigger the number infront of the minus sign, the closer the text will be to the top */
    /*can omit this if we want too cuz it isnt showing significant difference */
     
}